<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089289562671-dsa8ljv8fd3420f3gva8i37r1udmrh05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089289562671-dsa8ljv8fd3420f3gva8i37r1udmrh05</string>
	<key>API_KEY</key>
	<string>AIzaSyB6cwNm-6ek4q7oiGfP23D2v4Gp4YSp2_8</string>
	<key>GCM_SENDER_ID</key>
	<string>1089289562671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohammed.VirtualTourist</string>
	<key>PROJECT_ID</key>
	<string>virtual-tourist-b9f4f</string>
	<key>STORAGE_BUCKET</key>
	<string>virtual-tourist-b9f4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089289562671:ios:92b3d3fa6fb5472b6af4da</string>
	<key>DATABASE_URL</key>
	<string>https://virtual-tourist-b9f4f.firebaseio.com</string>
</dict>
</plist>